<div class="card text-center">
    <img class="card-img-top" src="https://scontent.fcbb1-1.fna.fbcdn.net/v/t1.0-9/31939818_1814541188615162_4785978613092581376_o.jpg?_nc_cat=0&oh=f4b352aa636befb3d380be156776fcc1&oe=5B57CB1F"
      alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">ALOHA - SHORE</h5>
      <div class="alert alert-info" role="alert">
          Fiesta
        </div>
      <p class="card-text">VIERNES 11 de Mayo 14:00</p>
      <p class="card-text">ALOHA Presenta 2da TEMPORADA ALOHA SHORE El mejor boliche de viernes por la tarde</p>
      <a href="#" class="btn btn-primary">VOLVER</a>
    </div>
  </div>