<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registro">
  Registro
</button>

<!-- Button trigger modal  Evento-->
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#evento">
  Evento
</button>

<!-- Modal -->
<div class="modal fade" id="registro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ingrese datos de registro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
          <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail">Email</label>
                  <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputContraseña">Contraseña</label>
                  <input type="password" class="form-control" id="inputContraseña" placeholder="Contraseña">
                </div>
              </div>
              <div class="form-group">
                <label for="inputNombre">Nombre</label>
                <input type="text" class="form-control" id="inputNombre" placeholder="ingrese su nombre aqui!">
              </div>
              <div class="form-group">
                <label for="inputApellido">Apellido</label>
                <input type="text" class="form-control" id="inputApellido" placeholder="Ingrese su apellido aqui!">
              </div>
              <div class="form-group">
                <label for="inputAño">Fecha de nacimiento</label>
                <div class="form-row align-items-center">
                    <div class="col-sm-3">
                      <label class="mr-sm-2" for="inputDia">Dia</label>
                      <input type="text" class="form-control" id="inputDia" placeholder="Dia">
                    </div>
                    <div class="col-sm-3">
                        <label class="mr-sm-2" for="inlineFormCustomSelect">Mes</label>
                        <select class="custom-select mr-sm-2" id="inputMes">
                          <option value="1">Enero</option>
                          <option value="2">Febrero</option>
                          <option value="3">Marzo</option>
                          <option value="4">Abril</option>
                          <option value="5">Mayo</option>
                          <option value="6">Junio</option>
                          <option value="7">Julio</option>
                          <option value="8">Agosto</option>
                          <option value="9">Septiembre</option>
                          <option value="10">Octubre</option>
                          <option value="11">Noviembre</option>
                          <option value="12">Diciembre</option>
                        </select>
                      </div>
                      <div class="col-sm-3">
                        <label class="mr-sm-2" for="inputAño">Año</label>
                        <input type="text" class="form-control" id="inputAño" placeholder="Año">
                      </div>
                </div>   
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFileLang" lang="es">
                <label class="custom-file-label" for="customFileLang">Foto de Perfil</label>
              </div>  
            </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Registrarse</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para evento -->

<div class="modal fade" id="evento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ingrese datos de registro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
          <form>
              
            <div class="form-group">
              <label for="inputApellido">Nombre del Evento</label>
              <input type="text" class="form-control" id="inputApellido" placeholder="Ingrese nombre del Evento">
            </div>
             
              <div class="form-group">
                <label for="inputApellido">Descripcion</label>
                <input type="text" class="form-control" id="inputApellido" placeholder="Ingrese descripcion del Evento">
              </div>

              <div class="form-group">
                <label for="inputAño">Fecha del Evento</label>
                <div class="form-row align-items-center">
                    <div class="col-sm-3">
                      <label class="mr-sm-2" for="inputDia">Dia</label>
                      <input type="text" class="form-control" id="inputDia" placeholder="Dia">
                    </div>
                    <div class="col-sm-3">
                        <label class="mr-sm-2" for="inlineFormCustomSelect">Mes</label>
                        <select class="custom-select mr-sm-2" id="inputMes">
                          <option value="1">Enero</option>
                          <option value="2">Febrero</option>
                          <option value="3">Marzo</option>
                          <option value="4">Abril</option>
                          <option value="5">Mayo</option>
                          <option value="6">Junio</option>
                          <option value="7">Julio</option>
                          <option value="8">Agosto</option>
                          <option value="9">Septiembre</option>
                          <option value="10">Octubre</option>
                          <option value="11">Noviembre</option>
                          <option value="12">Diciembre</option>
                        </select>
                      </div>
                      <div class="col-sm-3">
                        <label class="mr-sm-2" for="inputAño">Año</label>
                        <input type="text" class="form-control" id="inputAño" placeholder="Año">
                      </div>
                </div>   
              </div>

              <div class="form-group">
                <label for="inputApellido">Categoria</label>
                <input type="text" class="form-control" id="inputApellido" placeholder="Ingrese la categoria">
              </div>

              <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFileLang" lang="es">
                <label class="custom-file-label" for="customFileLang">Foto del evento</label>
              </div>  

              <div class="form-group">
                <label for="inputApellido">Direccion</label>
                <input type="text" class="form-control" id="inputApellido" placeholder="Ingrese Direccion">
              </div>

              <div class="form-group">
                <label for="inputApellido">Costo</label>
                <input type="text" class="form-control" id="inputApellido" placeholder="Ingrese el costo">
              </div>


            </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Registrarse</button>
      </div>
    </div>
  </div>
</div>